Debug
v15
SharpDisasm.1.1.9
Fasm.NET.1.70.03.2
MemorySharp.1.2.0
Release
ZeroFormatter.1.6.4
ZeroFormatter.Interfaces.1.6.4
MessagePack.1.7.3.4
System.Threading.Tasks.Extensions.4.3.0
System.ValueTuple.4.3.0
DesignTimeBuild
System.Threading.Tasks.Extensions.4.4.0
System.ValueTuple.4.4.0
