<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fasm.NET" version="1.70.03.2" targetFramework="net461" />
  <package id="MemorySharp" version="1.2.0" targetFramework="net461" />
  <package id="MessagePack" version="1.7.3.4" targetFramework="net45" />
  <package id="SharpDisasm" version="1.1.9" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net45" />
</packages>